// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0;
}

.fade {
    opacity: 0 !important;
    transition: .5s opacity;
}

.hidden {
	display: none !important;
}

a {
	text-decoration: none;
	color: black;
}

.header {
	width: 100%;
	height: 70vh;
	min-height: 500px;
	background-image: linear-gradient(rgb(0, 0, 30), rgb(90, 90, 250));
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
}

.star {
	position: absolute;
	border-radius: 50%;
}

.shootingStar {
	position: absolute;
	border-radius: 50%;
	background-color: white;
}


.firstscreen {
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 999;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .5s opacity;
}

.textContainer {
	min-width: 75%;
	width: 1000px;
	max-width: 95%;
	margin: 0 auto;
}
.subtitle {
	width: 40px;
	height: 3px;
	background-color: black;
}

.pdf_button {
	margin: 0 auto;
	border: 2px solid rgb(20, 20, 70);
	color: rgb(20, 20, 70);
	border-radius: 15px;
	width: 220px;
	height: 60px;
	font-size: 18px;
	font-weight: bolder;
	letter-spacing: 2px;
	transition: .3s ease;
	background-color: rgb(220,220,220);

	&:hover {
		background-color: rgb(20, 20, 70);
		color: rgb(220,220,220);
	}
}

.projectContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	column-count: 3;
}


.projectCard {
	width: 250px;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	&:hover {
		background-color: rgba(240,240,240,0.8);
	}


	h1 {
		text-align: center;
	}
	p {
		text-align: justify;
	}
	
	.logo {
		max-height: 80px;
	}

}